.middle{
   
    background-color: white;
    flex: 0.60;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
}
.middle::-webkit-scrollbar{
    display: none;
  }
.dropdown_likes::-webkit-scrollbar{
    display: none;
  }
