.suggestion{
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 7px;
}
.suggestion_user_name{
    font-size: 10px;
    opacity: 0.4;
}
.suggestion_profile_name{
    padding-bottom: 10px;
    font-size: 10px;
    font-weight: bold;
}

.follow{
    font-size: 8px;
    padding-left: 90px;
    font-weight: bold;   
    border: none;
    background-color: white;
    color: deepskyblue;

}
.suggestion_info{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

